.check__label {
  position: relative;
  display: block;

  padding-left: 23px;
  margin-bottom: 33px;

  font-size: 10px;
  line-height: 13px;
  font-weight: normal;

  cursor: pointer;
}

.check__input + .check__label::before {
  position: absolute;

  content: "";
  top: -2px;
  left: 0;

  width: 18px;
  height: 18px;

  background-color: $main-color;
}

.check__input:checked + .check__label::after {
  position: absolute;

  content: "";
  top: 3px;
  left: 3px;

  width: 12px;
  height: 8px;

  background: url("../img/icon-checkbox-tick.svg") no-repeat 0 0;
}

.check__input:hover + .check__label::before {
  background-color: $light-blue-color;
}

.check__input:focus + .check__label::before {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.check__input:active + .check__label::before {
  background-color: $light-blue-color;
}

.check__input:checked:active + .check__label::after {
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .check__label {
    width: 190px;
    padding-left: 28px;
    margin-bottom: 27px;

    text-align: left;
  }

  .check__input + .check__label::before {
    top: 3px;
    left: 0;

    width: 20px;
    height: 20px;
  }

  .check__input:checked + .check__label::after {
    top: 9px;
    left: 4px;

    width: 12px;
    height: 8px;
  }
}
