.description {
  padding: 29px 24px 35px;

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;

  h3 {
    margin: 0;
    margin-bottom: 13px;

    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
}

.description__ditales {
  width: 100%;
  margin: 0;
  text-align: left;

  overflow: auto;

  dt {
    margin: 0;
    margin-bottom: 1px;

    font-weight: 500;
  }

  dd {
    margin: 0;
    margin-bottom: 11px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.description__button {
  align-self: center;
  margin-top: auto;

  width: 100%;
  padding: 9px 15px 10px;
}

@media (max-width: $tablet-width-only) {
  .description {
    padding: 29px 35px 35px;
  }
}

@media (max-width: $mobile-width-only) {
  .description {
    padding: 29px 25px 35px;
  }

  .description__ditales {
    margin-bottom: 25px;
  }
}
