.footer-nav__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
}

.footer-nav__item {
  margin-right: 33px;

  color: $main-color;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width-only) {
  .footer-nav__list {
    font-size: 12px;
    line-height: 15px;
  }

  .footer-nav__item {
    margin-right: 23px;
  }
}

@media (max-width: $mobile-width-only) {
  .footer-nav__list {
    flex-direction: column;

    li {
      margin-bottom: 23px;
    }
  }

  .footer-nav__item {
    margin: 0;
  }
}
