.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  width: 100%;
}

.form__wrapper input {
  width: 100%;

  padding: 11px 15px 11px;
  margin-bottom: 20px;

  font-family: $font-deafult;
  font-size: 14px;
  line-height: 21px;

  color: $accent-color;
  border: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::placeholder {
    font-family: $font-deafult;
    font-style: normal;
    font-weight: normal;

    color: $accent-color;
    opacity: 1;

    :-ms-input-placeholder { /* IE 10+ */
      color: $accent-color;
    }
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2px $light-blue-color;
  }
}

.form__wrapper--checkbox {
  margin-top: 22px;
}

.form__button {
  width: 100%;
  padding: 11px 15px;
}

@media (max-width: $mobile-width-only) {
  .form__wrapper--checkbox {
    margin-top: 17px;
  }
}
