.intro {
  padding: 162px 95px 278px;

  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: $main-color;
}

.intro__title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
}

.intro__text {
  margin: 0;
}

@media (max-width: $tablet-width-only) {
  .intro {
    padding: 187px 0 275px;

    font-size: 18px;
    line-height: 22px;
  }

  .intro__title {
    font-size: 50px;
    line-height: 61px;
  }
}

@media (max-width: $mobile-width-only) {
  .intro {
    padding: 113px 0 178px;

    font-size: 16px;
    line-height: 22px;
  }

  .intro__title {
    font-size: 36px;
    line-height: 45px;
  }
}
