.intro {
  padding: 162px 198px 278px;

  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: $main-color;

  h1 {
    margin: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
  }

  p {
    margin: 0;
  }
}

@media (max-width: $tablet-width-only) {
  .intro {
    padding: 188px 45px 275px;

    font-size: 18px;
    line-height: 22px;

    h1 {
      font-size: 50px;
      line-height: 61px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .intro {
    padding: 114px 15px 178px;

    font-size: 16px;
    line-height: 22px;

    h1 {
      font-size: 36px;
      line-height: 45px;
    }
  }
}
