.page-header {
  display: flex;
  flex-direction: column;

  background-color: #0b4077;
  background-image: url("../img/bg-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-2x.jpg");
  }
}

.page-header__wrapper {
  @include wrapper;

  position: relative;

  display: flex;
  align-items: center;

  padding-top: 35px;
  padding-bottom: 35px;
}

.page-header__toggle {
  display: none;
}

.page-header__nav {
  margin-left: auto;
}

.page-header__intro {
  @include wrapper;
}

@media (max-width: $tablet-width-only) {
  .page-header {
    background-image: url("../img/bg-intro-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-tablet-2x.jpg");
    }
  }

  .page-header__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header {
    background-image: url("../img/bg-intro-mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-mobile-2x.jpg");
    }
  }

  .page-header__toggle {
    position: absolute;
    top: 20px;
    right: 15px;

    display: block;
    width: 24px;
    height: 15px;

    background: url("../img/icon-menu-white.svg") no-repeat center center;

    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-header__wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    padding: 20px 15px;

    color: $accent-color;

    &--close {
      .page-header__nav {
        display: none;
      }
    }

    &--no-js {
      background-color: $main-color;

      .page-header__nav {
        display: flex;
      }

      .page-header__toggle {
        display: none;
      }

      .page-header__logo {
        margin-bottom: 27px;
      }

      .logo__image {
        fill: $accent-color;
      }
    }

    &--open {
      width: 100%;
      padding: 30px 45px;
      background-color: $main-color;

      .page-header__toggle {
        top: 25px;
        right: 15px;

        background: url("../img/icon-close-blue.svg") no-repeat center center;
      }

      .logo__image {
        fill: $accent-color;
      }
    }
  }

  .page-header__nav {
    margin: 0;
  }
}
