.page-header {
  display: flex;
  flex-direction: column;
  // padding: 35px 0;

  background-color: #0b4077;
  background-image: url("../img/bg-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-2x.jpg");
  }
}

.page-header__wrapper {
  position: relative;

  display: flex;
  align-items: center;

  @include wrapper;

  padding: 35px 0;
}

.page-header__toggle {
  display: none;
}

.page-header__nav {
  margin-left: auto;
}

.page-header__intro {
  @include wrapper;
}

@media (max-width: $tablet-width-only) {
  .page-header {
    background-image: url("../img/bg-intro-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-tablet-2x.jpg");
    }
  }

  .page-header__wrapper {
    padding: 30px 0;
    margin: 0 auto;

    &--no-js .page-header__toggle {
      display: none;
    }

    &--close .page-header__nav {
      display: none;
    }

    &--open .page-header__toggle {
      background-color: transparent;
      background-image: url("../img/icon-close-white.svg");
      background-position: 25px 14px;
    }
  }

  .page-header__toggle {
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 6;

    width: 24px;
    height: 12px;

    background-color: transparent;
    background-image: url("../img/icon-menu-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header {
    background-image: url("../img/bg-intro-mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-mobile-2x.jpg");
    }
  }

  .page-header__wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    padding: 20px 15px;

    color: $accent-color;
    background-color: $background-color;

    &--no-js .page-header__toggle {
      display: none;
    }

    &--close .page-header__nav {
      display: none;
    }

    &--open .page-header__toggle {
      background-color: transparent;
      background-image: url("../img/icon-close-blue.svg");
      background-position: 25px 14px;
    }
  }

  .page-header__logo {
    margin-bottom: 50px;

    .logo__image {
      width: 42px;
      height: auto;

      fill: $accent-color;
    }
  }

  .page-header__toggle {
    top: 25px;
    right: 15px;

    width: 24px;
    height: 22px;

    background-color: transparent;
    background-image: url("../../img/icon-menu-blue.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
  }

  .page-header__nav {
    margin: 0;
  }
}
