.page-footer {
  font-family: $font-deafult;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: $main-color;

  background-color: $accent-color;
}

.page-footer__wrapper {
  @include wrapper;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 0;

  padding-top: 51px;
  padding-bottom: 51px;
}

.page-footer__logo {
  margin-right: 35px;
}

.page-footer__nav {
  max-width: 70%;
}

.page-footer__social {
  justify-content: flex-end;
  width: 17%;

  margin-left: auto;
}

@media (max-width: $tablet-width-only) {
  .page-footer__wrapper {
    padding-top: 44px;
    padding-bottom: 45px;
  }

  .page-footer__logo {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer__wrapper {
    flex-direction: column;
    align-items: flex-start;

    padding: 40px 15px;
  }

  .page-footer__logo {
    margin: 0;
    margin-bottom: 27px;
  }

  .page-footer__nav {
    margin-bottom: 13px;
  }

  .page-footer__social {
    width: 100%;
    margin-left: 0;
  }
}
