.social-networks__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.social-networks__item {
  margin-right: 23px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.social-networks__item {
  padding: 5px;

  &:last-child {
    padding-right: 0;
  }
}

@media (max-width: $tablet-width-only) {
  .social-networks__item {
    padding-top: 7px;
    margin-right: 13px;
  }

  .social-networks__icon--fb {
    width: 9px;
    height: 16px;
  }

  .social-networks__icon--insta {
    width: 16px;
    height: 16px;
  }

  .social-networks__icon--tw {
    width: 16px;
    height: 13px;
  }
}

@media (max-width: $mobile-width-only) {
  .social-networks__list {
    justify-content: flex-start;
  }

  .social-networks__item {
    padding-top: 0;
    padding-left: 0;
    margin-right: 18px;
  }
}
