//Сетки
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-width-only: 767px;
$tablet-width-only: 1023px;

//Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//paddings
$mobilPadding: 15px;
$tabletPadding: 45px;

//colors
$main-color: #f9fbfd;
$accent-color: #011c40;
$form-color: #101a56;
$light-grey-color: #d8d8d9;
$light-blue-color: #e3ecf6;

//Шрифты
$font-deafult: "Montserrat", "Arial", sans-serif;
