//Сетки
$mobile-width: 290px;
$tablet-width: 678px;
$desktop-width: 1160px;

$mobile-width-only: 677px;
$tablet-width-only: 1159px;

//Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//paddings
$mobilPadding: 15px;
$tabletPadding: 45px;

//colors
$main-color: #f9fbfd;
$accent-color: #011c40;
$form-color: #101a56;
$light-grey-color: #d8d8d9;
$background-color: #e5e5e5; //заменить
$light-blue-color: #e3ecf6;

//Шрифты
$font-deafult: "Montserrat", "Arial", sans-serif;
